$black: #252525;
// $black: #3d3d3d;
$light-gray: #D4D4D4;
$dark-gray: #999;
$orange: #FDD947;
$bcg: #f3f3f3;

@mixin font-regular {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
 }

 @mixin font-semi-condensed {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
 }

 @mixin font-condensed {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
 }


 @mixin grad {
    background: linear-gradient(90deg, rgba(255,240,0,1) 45%, rgba(255,191,0,1) 66%);
 }

 @mixin link-wrapper {
   width: 260px;
   padding: 2px;
   margin: 0 auto;
}

@mixin link {
   width: 100%;
   display: block;
   margin: 0;
   padding: 15px 0;
   text-align: center;
   font-size: 16/16*1em;
   @include font-condensed;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.2em;
}

body {
    // padding: 10px;
    @include font-regular;
    box-sizing: border-box;
    // background-color: $bcg;
    font-size: 18px;
    color: $black;
    border: 10px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
    @include font-condensed;
}

h3.basic {
   width: 90%;
   margin: 0 auto;
   text-align: center;
   font-size: 27/16*1em;
}

p {
   font-size: 17/16*1em;
   line-height: 1.3em;
}

a i {
   padding-left: 10px;
}

strong {
   font-weight: 500!important;
}

span.line {
   display: block;
   width: 100%;
   height: 1px;
   background: #e5e5e5;
}

a:hover {
   color: $dark-gray;
   color: $orange;
}


 
//  .dropdown:hover .dropbtn {
   // background-color: #3e8e41;
//  }
