
.home-header {
    padding: 50px 0;
    background-color: $bcg;

}

.home {

    h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 1.2;
        font-size: 35/16*1em;

        span {
            display: block;
        }

        span:nth-child(2) {
            margin-bottom: 20px;
        }

        span:nth-child(3) {
            margin-bottom: 20px;
            font-size: 0.6em;
            letter-spacing: 0.1em;
        }

        span:nth-child(4) {
            font-size: 0.4em;
            letter-spacing: 0.2em;
        }

    }

}

.home-gallery {
    background: $bcg;
  
    ul {
      width: 100%;

      img {
        width: 100%;
      }
  
      li {
          width: 100%;
        position: relative;
        overflow: hidden;
        height: 430px;
        height: 300px;
        margin-bottom: 15px;

  
        div {
          display: flex;
          align-self: center;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100px;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          text-align: center;
  
          a {
            padding: 15px 20px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            background: rgba(0,0,0,0.4);
            border: 1px solid rgba(255,255,255,0.7);
            font-size: 12/16*1em;
            letter-spacing: 0.1em;
          }
  
          a:hover {
            background: rgba(0,0,0,1);
  
          }
        }
  
      }
  
    }
  }

  #home-gallery-img-1 {
    background-image: url("/storage/img/bodyclinic-2a.jpg");
    background-size: cover;
    background-position: center;
  }
  
  #home-gallery-img-2 {
    background-image: url("/storage/img/bodyclinic-8.jpg");
    background-size: cover;
    background-position: bottom center;
  }

.endo-imgs {
    width: 90%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;

    img {
        width: 49%;
    }
}


#home-usg {
    background-size: cover;
    background-position: bottom right;
}


#home-about-section {
    background: $bcg;
}

#home-news-section {
    background: $bcg;
}

.home-about {

    .content-tm {
        width: 80%;
        margin: 0 auto;

        p {
            font-size: 19/16*1em;
        }
    }
}

.home-news-body {
    padding: 0;
}

#home-news-section {
    padding: 120px 0;
}



