@media screen and (min-width:1000px) {


    .logo {
        width: 250px;
        width: 220px;
      }

    .link.desctop {
        display: block;
        display: flex;
     }  

    .link.mobile {
      display: none;
    }

    .page-navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        a i {
          display: none;
        }

        .nav-contact {
          margin-bottom: -30px;

          p:nth-last-child(1) {

          a {
            pointer-events: none;
            cursor: default;

          }

          }
        }

        .menu-btn {
          display: none;
        }
    
        .menu-container {
          width: 95%;
          padding: 0;
          // margin-right: 0;
          position: static;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // justify-content: flex-end;
          flex-wrap: wrap;
          text-transform: uppercase;
    
            li {
              max-width: auto;
              padding: 0;
              margin: 0;
    
              a {
                    font-size: 16/16*1em;
                }
            }
        }

        a:hover {
          color: $dark-gray;
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }
    
        .dropdown-content {
          display: none;
          position: absolute;
          background: #fff;
          width: 360px;
          padding: 20px 10px;
          box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
          text-align: left;
          z-index: 1;
    
          li {
            margin: 0!important;
            padding: 0!important;
          }
        
          a {
            color: black;
            padding: 10px 16px;
            margin: 0;
            text-decoration: none;
            display: block;
          }
          
          a:hover {
            color: $dark-gray;
          }
    
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
    
    }
    
    .page-navbar li a.active {
      border-bottom: 2px solid $black;
    }

    .home-header {
        // position: relative;
        // width: 60%;
        // margin-top: -500px;
        // margin-bottom: 150px;
        margin-left: auto;
        margin-right: auto;
        // float: left;
        padding: 80px 0 60px 0; 
        // background: transparent;   
    }

    .header-basic {
      
          .header-content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
      
    }

   .endo-imgs {
    display: none;
}

    // .offer-content article {
      // display: flex;
      // margin-bottom: 80px!important;
      // justify-content: space-between;
    // }

    .content-tm {
      width: 60%;
    }

    .article-body {

      .flex-body {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;

        .text-content {
            width: 68%;
        }

        aside {
          padding: 0;
        }
      }

      .flex-body:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    .article-body .text-one-img {
        width: 100%;

      .text-content {
         width: 47%;
      }
   
      aside {
         width: 45%;
      }
   
   }

   .article-body .text-two-img-block {
      display: block;
      width: 68%;

      .text-content {
        width: 100%;
      }

      aside {
          width: 100%;
          padding-top: 40px;
      }

  }

   .article-body .text-two-img {
    width: 100%;

    .content-basic, .text-content {
      width: 45%;
    }

    aside {
      width: 47%;
    }

}


    .home {

        h1 {
            font-size: 45/16*1em;
            font-size: 40/16*1em;

            span:nth-child(1) {
                display: inline;
            }

            span:nth-child(2) {
                display: inline;
            }

            span:nth-child(3) {
                margin-top: 20px;
            }
        }
    }

    .home-hexgrid {
        position: relative;

        .hex h2 {
            font-size: 16.5/16*1em;
        }

    }

    .specialties {

      .hexGrid {
          width: 80%;
          max-width: 1000px;
          // padding-bottom: 5.5%; /* 4 w rzedzie */
      }

      .hex {
          width: 25%; // 4 w rzedzie
          width: 16.66666666%;
      }

      .hex h2{
          font-size: 19/16*1em!important;
      }

      .hex:nth-child(7n+1){ 
        margin-left: 0;
    }
  
      .hex:nth-child(11n+1){
          margin-left: 10%;
        margin-left: 8.33333333%;
      }
  }

    section.expert-profile {

        article {
          display: flex;
          justify-content: space-between;
      
          .mobile-header {
            display: none;
          }
      
          .desktop-header {
            display: block;
          }

        }

        .expert-photo {
            width: 35%;
            margin-bottom: 50px;
        }

        .spec-desc {
            width: 60%;
        }
        
    }

    .team-list {
      width: 100%;
      
          li {
            width: 25%;
          }
    }

    .news-list {
      width: 65%;
    }

    .footer-contact {

        ul {
            width: 90%;
            flex-wrap: nowrap;
        }

        li {
            width: 25%;
            margin-bottom: 0;
        }

        a {
          pointer-events: none;
          cursor: default;
        }
      
      }

      .footer-nav {
         
        ul {
            width: 80%;
        }

    }

      .lab-packages-section {

        .accordion {
            width: 80%;
        }
      
    }

    .price-list {

      .desctop {
        display: flex;
        font-weight: 500;
      }

      .mobile {
        display: none;
      }
    }


    .clinical-trials-list {

      article {
        width: 70%;

      }
    

    }

    // .download-files {
    //   width: 80%;
    //   margin-left: 0;
    // }

    .download-files-list {
      width: 70%;
    }

  section.consultations {

    article {
      width: 80%;

    }
  }

  .treatments-price-list {
    width: 100%;
  }

  #accordionContact {
    width: 60%;
  }

  section.endoscopy-lab-menu {

    ul {
      width: 60%;
    }

  }

  .about-gallery {
  
    ul.hexGrid {
      width: 60%!important;
      margin-bottom: 0;
    }
  }

  // .faqs-list {
  //   width: 65%;
  //   padding-bottom: 0!important;

  //   li:nth-last-child(1) article {
  //     padding-bottom: 0;
  //   }
  //   .content-tm {
  //     width: 100%;
  //   }
  // }








  .treatments-list {

    li {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .icon-endoscopy {
      margin: 0;
    }
  }

  .treatments-list.endoscopy {
    width: 60%;
  }





}