@import "reset";
@import "font";

// @import "reset";

$black: #252525;
// $black: #3d3d3d;
$light-gray: #D4D4D4;
$dark-gray: #999;
$orange: #FDD947;
$yellow: #f5f107;
$bcg: #f3f3f3;
$border: 1px solid #e5e5e5;
// $border: 10px solid #fff;
$green: #21aa0a;

$width: 90%;
//  color: #626262;
//  color: #808080;
$font-gray: #8c8c8c;
$font-gray: #808080;
$font-gray: #737373;
// $font-gray: #666666;


// $font-gray: red;


@mixin font-regular {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
 }

 @mixin font-semi-condensed {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
 }

 @mixin font-condensed {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
 }

body {
    @include font-regular;
    box-sizing: border-box;
   //  background-color: rgba(243,243,243,0.1);
    font-size: 18px;
    color: $font-gray;
    // border: 10px solid #fff;
    background: $bcg;
}

* {
    margin: 0;
    padding: 0;
    box-shadow: none !important;
}

html {
    height: 100%
}

.main-container {
    width: 100%!important;
    margin: 0 auto!important;
    // padding: 50px 0 100px 0;
}

header {
    padding: 30px 0;
    background:$bcg;
    background: #fff;

    h2 {
        @include font-condensed;
        color: $black;
        font-size: 25/16*1em;
        // text-transform: uppercase;
    }
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

a:hover {
    color: $orange;
    text-decoration: none;
}

table, tr, th, td {
    border-top-width: 0!important;
}

thead, th, td {
    border-bottom: 10px solid $bcg!important;
}

table {
    width: 85%!important;
    margin: 50px auto 80px auto;
}

thead th {
    font-weight: 500;
}

tr {
    background: #fff;
}

// p, .subtitle {
//     color: grey
// }

i.bi {
    font-size: 20px!important;
}

// .btn-new {
//     margin-left: 200px;
//     background-color: #33CC33;
//     border-color: #33CC33;
// }

.btn-container {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: center;
    padding: 30px 0 50px 0;

    button {
        margin: 0 10px;
    }
}

select {
    margin-top: 50px;
    padding: 10px;
    border-width: 0;
}


// button,
select:focus,
option:focus,
input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    // border: 1px solid #673AB7!important;
    // border: 2px solid #e6af2a!important;
    outline-width: 0
}

.form-select {
    width: 300px;
}

.table {
    // thead {
    //     border-bottom: 1px solid lightcoral!important;
    // }

    // td {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    .th-options {
        width: 100px;
        text-align: right;
        text-align: center;
    }

    // .th-flex {
    //     display: flex;
    // }

    .th-name {
        width: 120px;
    }

    .th-iteration {
        width: 50px;
    }

    .td-counts {
        text-align: center;
    }
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    border: 2px solid #33CC33!important;

}

.accordion-button:focus {
    border-color:  #33CC33;
}

.accordion-body {
    padding: 50px 50px 20px 50px;
}

textarea {
    text-align: left;
}

// .accordion-button:not(.collapsed)::after {
// }

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    display: flex;
    align-items: center;
}

.modal-body {
    // margin-bottom: 100px;
    padding: 20px;
}

.modal-body-container {
    margin-bottom: 50px;
    box-sizing: border-box;
}

.modal-body-container .one,
.modal-body-container .two {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal-body-container .one {
    background: yellow;
    z-index: 2;
}

.modal-body-container .two {
    background: red;
}



fieldset {
    padding: 20px 0;
}

hr {
    color: #bdbdbd;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-flex .form-check {
    width: 49%;
}

.container-flex-degree {
    flex-wrap: nowrap;
}



#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal;
    margin-bottom: 50px;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px

    fieldset {
        background: white;
        /* border: 0 none; */
        /* border-radius: 0.5rem; */
        /* box-sizing: border-box; */
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }
}

.form-wrapper {
    width: 70%;
    margin: 0 auto
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    /* padding: 8px 15px 8px 15px; */
    border: 1px solid #ccc;
    /* border-radius: 0px; */
    /* margin-bottom: 25px; */
    /* margin-top: 2px; */
    /* width: 100%; */
    box-sizing: border-box;
    /* font-family: montserrat; */
    color: #2C3E50;
    /* background-color: #ECEFF1; */
    font-size: 16px;
    /* letter-spacing: 1px */
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #673AB7;
    /* font-weight: bold; */
    color: white;
    /* border: 0 none; */
    /* border-radius: 0px; */
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
background-color: #311B92
}

#msform .action-button-previous {
width: 100px;
background: #616161;
/* font-weight: bold; */
color: white;
/* border: 0 none; */
/* border-radius: 0px; */
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px 10px 0px;
float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
background-color: #000000
}

.card {
z-index: 0;
border: none;
position: relative
}

.fs-title {
font-size: 25px;
color: #673AB7;
margin-bottom: 50px;
font-weight: normal;
text-align: left
}

.purple-text {
color: #673AB7;
font-weight: normal
}

.steps {
font-size: 25px;
color: gray;
margin-bottom: 10px;
font-weight: normal;
text-align: right
}

.fieldlabels {
color: gray;
text-align: left
}

#progressbar {
margin-bottom: 50px;
overflow: hidden;
color: lightgrey
}

#progressbar .active {
color: #673AB7
}

#progressbar li {
list-style-type: none;
font-size: 15px;
width: 25%;
float: left;
position: relative;
font-weight: 400
}

#progressbar #account:before {
font-family: FontAwesome;
content: "\f13e"
}

#progressbar #personal:before {
font-family: FontAwesome;
content: "\f007"
}

#progressbar #payment:before {
font-family: FontAwesome;
content: "\f030"
}

#progressbar #confirm:before {
font-family: FontAwesome;
content: "\f00c"
}

#progressbar li:before {
width: 50px;
height: 50px;
line-height: 45px;
display: block;
font-size: 20px;
color: #ffffff;
background: lightgray;
border-radius: 50%;
margin: 0 auto 10px auto;
padding: 2px
}

#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: lightgray;
position: absolute;
left: 0;
top: 25px;
z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
background: #673AB7
}

.progress {
height: 20px
}

.progress-bar {
background-color: #673AB7
}

.fit-image {
width: 100%;
object-fit: cover
}

.center {
    text-align: center;
}

label.error, label.error-msg {
    color: red;
}

textarea + label {
    display: block;
    margin-top: 500px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

.btn-link {
    text-decoration: none;
    color: green;
}

.btn-link:hover {
    text-decoration: none;
    color: orange;
}

.expert-container-flex {
    display: flex;
    justify-content: space-between;
}

.expert-photo-container {
    width: 40%;
    margin-bottom: 50px;

    figure, img {
        width: 100%;
    }
}

.expert-basic-info-container{
    width: 54%;
}

.expert-profile {

    .header {
        padding-left: 10px;
        // border-bottom: 1px solid #e5e5e5;
        // margin-bottom: 20px;
        background: $bcg;
    }

    h2 {
        font-size: 18/16*1em;
        color: $black;
    }

    p {
        margin-bottom: 5px;
    }

    // li.expert-section {
    //     margin-bottom: 40px;
    // }

    .content {
        width: 85%;
        padding: 15px;

        li {
            list-style: disc;
            list-style-position: inside;
        }

        .flex {
            width: 100%;
            justify-content: space-between;
        }
    }

    .content-photo {
        width: 100%;
    }
}


.tox-textfield:focus {
    z-index: 10000000000000000;
}

.recommendations {
    width: 100%!important;
}

.recommendation-wrapper {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
    justify-content: space-between;

    .recommendation_for {
        width: 17%;
    }

    .recommendation {
        width: 65%;
    }

    .recommendation-buttons {
        width: 10%;
        text-align: right;
    }


}

.table .td-content {

    li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        h3 {
            font-size: 15/16*1em;
            width: 15%;
            margin: 0;
            color: gray;
        }

        div:nth-child(1) {
            width: 15%;
        }

        div {
            width: 85%;
        }

    }
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    width: 130px;
    height: 42px;
    border-radius: 25px;
    border-radius: 5px;
    // background: linear-gradient(40deg, #ff6ec4, #7873f5);
    // box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    background: #7873f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    // font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

//   input:hover + label,
// input:focus + label {
//   transform: scale(1.02);
// }

// input:focus + label {
//     outline: 1px solid #000;
//     outline: -webkit-focus-ring-color auto 2px;
//   }

.navbar {
    background: #fff!important;
    // background: $bcg;
    border-bottom: 1px solid #e5e5e5;
}

.nav-flex {
    width: 100%;
    margin: 0 auto;
    display: flex!important;
    justify-content: space-between!important;
}

.navbar-nav {
    width: 80%;
    margin: 0 auto;
    // background: #33CC33;
    display: flex;
    justify-content: space-around;
}

#main-navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    // background: red;
}

thead, tr {
    border-bottom: 1px solid #e5e5e5;
}

.livewire-wrapper {
    background: #fff;
}

.sections-list {
    margin: 100px auto;

    li {
        margin-bottom: 50px;
        background: #fff;
    }

    .main-header {
        padding: 15px;
        margin: 0;
        border-bottom: 5px solid $bcg;
        color: $black;
        font-weight: 500;
    }

    .part {
        padding: 15px;
        border-bottom: 2px solid $bcg;
    }

    .part-header {
        // margin: 10px 0 30px 0;
        margin: 0;
        padding: 0 0 20px 0;
        font-weight: 500;

        div {
            width: 100%;
        }

        h4 {
            text-align: center;
            color: $black;
        }
    }

    .part-flex {
        width: 100%;
        display: flex;
    }

    .part-content {
        width: 100%;
        display: flex;

        h3 {
            width: 10%;
        }

        div {
            width: 80%;
            margin-bottom: 40px;
        }
    }

    .part-img {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        // img {
        //     display: block;
        //     width: 24%;
        //     margin-right: 1%;
        // }
    }
}

.part-gallery {
    width: 100%;
    display: flex;
    margin-top: 20px;

    li {
        width: 33%;
    }

    img {
        display: block;
        margin: 0 auto 20px auto;
        width: 90%;
    }

    button {
        display: block;
        margin: 0 auto;
    }
}

.layouts-list {
    width: 100%;
    .form-check {
        margin: 0!important;
    }
}

.contact-basic-info {
    li {
        display: flex;
    }

    li:nth-last-child(1) p{
        border: none;
    }

    p {
        border-bottom: $border;
        padding: 10px;
    }

    p:nth-child(1){
        width: 30%;
    }

    div,
    p:nth-child(2){
        width: 70%;
    }
}

.contact-desc {

    li {
        display: flex;
    }

    .field-1{
        padding: 10px;
        width: 30%;
    }

    div{
        padding: 10px;
        width: 70%;
    }
}


